.homepage-bg {
  position: absolute;
  top: 0px; /* 66 */
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/static/img/elena-mozhvilo-unsplash.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.homepage-fade-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  background: -webkit-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.homepage-container {
  position: relative;
  top: 0;
  left: 0;
  height: calc(100vh - 56px);
  width: 100vw;
}

.app-greeting {
  position: absolute;
  top: calc(50% - 56px);
  left: calc(50% - 230px);
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 20px;
}

.app-img-credits {
  position: absolute;
  top: calc(100vh - 130px);
  left: calc(100vw - 320px);
  background-color: rgba(255, 255, 255, 0.342);
  color: rgb(0, 0, 0);
  padding: 3px 9px;
  border-radius: 7px;
}

.flash-msg {
  position: absolute;
  top: 56px;
  left: 1em;
  z-index: 1;
}
