{% extends 'base.html' %} {% block head %} {% endblock %} {% block title %}Pup
Journey{% endblock %} {% block body %}

<div class="homepage-bg"></div>
<div class="homepage-fade-div"></div>

{% if "login" in session %}

<div id="root"></div>

{% else %}

<div class="homepage-container">
  <div class="app-greeting fw-300">
    <div class="big" style="text-align: center; font: 'Manrope'">Welcome</div>
    <p>Log in to start making your melon tasting reservation today!</p>
  </div>
  <div class="app-img-credits fw-300">
    <small class="fw-lighter"
      >Photo by
      <a
        href="https://unsplash.com/@miracleday?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Elena Mozhvilo</a
      >
      on
      <a
        href="https://unsplash.com/s/photos/melon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
        >Unsplash</a
      >
    </small>
  </div>
</div>

{% endif %} {% endblock %}
